<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/addProduct.css">

</head>
<body>
    <div class="backButton">
        <a href="/admin/productList">
            <button class="btn btn-dark">Back</button>
        </a>
    </div>
    <div class="container mainCont">
        <h3 class="mt-3 text-center mb-3" style="font-family: 'Michroma', sans-serif;">Add Product</h3>
        <form action="/admin/addProduct" class="needs-validation" method="POST" enctype="multipart/form-data">
            
            <div class="form-group">
                <label for="images">Images:</label> <br>
                <small>Max 4 Images!</small> <br>
                <input class="inputFieldImage" type="file" class="form-control-file" id="images" name="images" accept="image/*" multiple required>
            </div>

            <div class="form-group">
                <label for="name">Product Name:</label> <br>
                <input class="inputField" type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="form-group">
                <label for="price">Price:</label> <br>
                <input class="inputField" type="number" class="form-control" id="price" name="price" required>
            </div>
            <div class="form-group">
                <label for="price">Discount % :</label> <br>
                <input class="inputField" type="number" class="form-control" id="discountPercentage" name="discountPercentage" required>
            </div>


            <div class="form-group">
                <label for="quantity">Quantity:</label> <br>
                <input class="inputField" type="number" class="form-control" id="quantity" name="quantity" required>
            </div>

            <div class="form-group">
                <label for="brand">Brand:</label> <br>
                <select class="form-control" id="brand" name="brand" required>
                    <option value="nike">Nike</option>
                    <option value="reebok">Reebok</option>
                    <option value="converse">Converse</option>
                    <option value="jordan">Jordan</option>
                    <option value="asics">Asics</option>
                    <option value="crocs">Crocs</option>
                    <option value="adidas">Adidas</option>
                </select>
            </div>

            <div class="form-group">
                <label for="category">Category:</label> <br>
                <select class="form-control" id="category" name="category" required>
                    <% categories.forEach (category=>{%>
                        <option value="<%= category._id%>"><%= category.name%></option>
                    <%}) %>
                </select>
            </div>

            <div class="form-group">
                <label for="description">Description:</label> <br>
                <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
            </div>
            

            <div class="form-group" >
                <label for="sizes">Available Sizes:</label> <br>
                <div class="d-flex" style="justify-content: center;">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" style="height: 20px; width: 20px;" id="sizeSmall" name="sizes[]" value="6">
                    <label class="form-check-label" for="sizeSmall">6</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" style="height: 20px; width: 20px;" id="sizeMedium" name="sizes[]" value="7">
                    <label class="form-check-label" for="sizeMedium">7</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" style="height: 20px; width: 20px;" id="sizeLarge" name="sizes[]" value="8">
                    <label class="form-check-label" for="sizeLarge">8</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" style="height: 20px; width: 20px;" id="sizeLarge" name="sizes[]" value="9">
                    <label class="form-check-label" for="sizeLarge">9</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" style="height: 20px; width: 20px;" id="sizeLarge" name="sizes[]" value="10">
                    <label class="form-check-label" for="sizeLarge">10</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" style="height: 20px; width: 20px;" id="sizeLarge" name="sizes[]" value="11">
                    <label class="form-check-label" for="sizeLarge">11</label>
                </div>
                </div>
            </div>

            <div class="submitButton">
            <button type="submit" class="btn btn-success rounded-pill">Add Product</button></div>
        </form>
    </div>

    <div class="alertKey">
        <% if(locals.message) { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; right: 20px; bottom: 30px;"
            data-bs-autohide="true" data-bs-delay="2000" id="success-alert"> 
            <strong><%= message %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          
          <script>
            // Add this script to your page
            setTimeout(function() {
              document.getElementById('success-alert').style.display = 'none';
            }, 2000); // Adjust the delay (in milliseconds) as needed
          </script>
        <% } %>      
      </div>
      <div class="alertKey">
        <% if(locals.messageS) { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute; right: 20px; bottom: 30px;"
            data-bs-autohide="true" data-bs-delay="2000" id="success-alert"> 
            <strong><%= messageS %></strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
      
          <script>
            // Add this script to your page
            setTimeout(function() {
              document.getElementById('success-alert').style.display = 'none';
            }, 2000); // Adjust the delay (in milliseconds) as needed
          </script>
        <% } %>      
      </div>

      <script>
        (() => {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach(form => {
                form.addEventListener('submit',async event => {
                    event.preventDefault();
                    const nameInput = form.querySelector('[name="name"]');
                    const nameValue = nameInput.value;
                    const categoryInput = form.querySelector('[name="category"]');
                    const categoryValue = categoryInput.value;
                    const priceInput = form.querySelector('[name="price"]');
                    const priceValue = priceInput.value;
                    const quantityInput = form.querySelector('[name="quantity"]');
                    const quantityValue = quantityInput.value;
                    const descriptionInput = form.querySelector('[name="description"]');
                    const descriptionValue = descriptionInput.value;
                    const discountPercentageInput = form.querySelector('[name="discountPercentage"]');
                    const discountPercentageValue = discountPercentageInput.value;
                    

                    if (/^\s*$/.test(nameValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        nameInput.value='';
                        const alertMessage='Name cannot be just spaces.';
                        showAlert(alertMessage);
                        return;
                    }
                    if (/^\s*$/.test(quantityValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        quantityInput.value='';
                        const alertMessage='Quantity cannot be just spaces.';
                        showAlert(alertMessage);
                        return;
                    }

                    if (/^\s*$/.test(descriptionValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        quantityInput.value='';
                        const alertMessage='Description cannot be just spaces.';
                        showAlert(alertMessage);
                        return;
                    }

                    if (/^\s*$/.test(priceValue) || isNaN(priceValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        priceInput.value='';
                        const alertMessage='Price cannot be just spaces, and it must be a valid number.';
                        showAlert(alertMessage);
                        return;
                    }
                    if (/^\s*$/.test(discountPercentageValue) || isNaN(discountPercentageValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage='Discount cannot be just spaces, and it must be a valid number.';
                        showAlert(alertMessage);
                        return;
                    }

                    const numericPrice = parseFloat(priceValue);
                    if (numericPrice < 500 || numericPrice > 100000) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage = 'Price must be between 500 and 100,000.';
                        showAlert(alertMessage);
                        return;
                    }
                    const numericDiscountPercentage= parseFloat(discountPercentageValue);
                    if (numericDiscountPercentage < 0 || numericDiscountPercentage > 80) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage = 'Discount must be between 0 and 80.';
                        showAlert(alertMessage);
                        return;
                    }

                    const quantityParse = parseFloat(quantityValue);
                    if (quantityParse < 0 || quantityParse > 100000) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage='Quantity must be between 1 and 100,000.';
                        showAlert(alertMessage);
                        return;
                    }
    

                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
    
                    try {
                        const response = await fetch(`/admin/checkDiscount?discount=${numericDiscountPercentage}&category=${categoryValue}`);
                        const data = await response.json();
                        if (data.discount === "true") {
                            event.target.submit()
                        } else if (data.discount==="false"){
                            showAlert("Total Discount is More than 80. Max("+data.select+")");
                        }else{
                            showAlert("Error")
                        }
                    } catch (error) {
                        console.log(error);
                    }

                    


                    form.classList.add('was-validated');
                }, false);
            });
        })();
        form.addEventListener('keydown', event => {
            if (event.key === 'Enter') {
                event.preventDefault();  // Add this line
                form.dispatchEvent(new Event('submit'));
            }
        });

</script>
<%- include('../layout/footerHTML')-%>