<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/adminHome.css">

</head>
<body>
    <%- include('../layout/header')-%>

<div class="container" style="margin-top: 150px; margin-bottom: 200px;"> 
    <h2 class="" style=" font-family: 'Michroma', sans-serif;">Hi Admin!</h2>
        <div class="container-fluid adminContainer">
            <div class="row g-5"> 
                <div class="adminProfile col-12 col-xxl-2 col-xl-2 col-md-12 col-lg-2 col-sm-12">
                    <i class="bi bi-person-circle" style="font-size: 60px;"></i>
                    <a href="/admin/home" style="width: 100%; display: flex; align-items: center; justify-content: center; text-decoration: none;"><button class="btn btn-dark rounded-pill me-2 mt-2">Products</button></a>

                    <a href="/admin/viewUsers" style="width: 100%; display: flex; align-items: center; justify-content: center; text-decoration: none;"><button class="btn btn-success rounded-pill me-2 mt-2">View Users</button></a>

                    <a href="" style="width: 100%; display: flex; align-items: center; justify-content: center; text-decoration: none;"><button class="btn btn-dark rounded-pill me-2 mt-2">Sales</button></a>
                </div>
                <div class="adminCenter col-12 col-xxl-2 col-xl-2 col-md-12 col-lg-2 col-sm-12">
                  <button class="btn btn-dark rounded">Total Users  : <%=users.length%></button>
                  <a href="/admin/createUser" style="width: 100%; display: flex; align-items: center; justify-content: center; text-decoration: none;"><button class="btn btn-dark rounded  mt-2">Create User</button></a>
                </div>
            </div>
        </div>



        <div class="container mt-5 border rounded p-4">
            <h2>Users</h2>
            <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 g-4  d-flex" style="justify-content: center;">
              <% if (users=='') { %>
                <h2 class="text-center">No Users!</h2>
              <% } %>
              
              <% if (users) { %>
     
              <% users.forEach(user=>{%>
   
                <div class="col">
                  <div class="card h-100">
                    <i class="bi bi-person-vcard-fill card-image-top text-center" style="font-size: 100px;"></i>
                    <div class="card-body">
                      <span class="card-title d-block"><span style="font-size: 17px; font-weight: 700;">Name : </span><%= user.name%></span>
                      <span class="card-title d-block"><span style="font-size: 17px; font-weight: 700;">Email : </span><%= user.email%></span>
                      <span class="card-title d-block"><span style="font-size: 17px; font-weight: 700;">Contact : </span><%= user.contact%></span>
                    </div>
                    <div class="card-footer d-flex align-item-center justify-content-center">
                        <a href="/admin/editUser?id=<%=user._id%>" class="btn btn-dark">Edit</a>
                        <a href="/admin/deleteUser?id=<%=user._id%>" class="btn btn-danger ms-3 me-3"  id="button" onclick="handleButtonClick()" >Delete</a>
                        <a href="/admin/blockUser?id=<%=user._id%>" class="btn btn-primary" id="button" onclick="handleButtonClick()" ><%=user.isBlocked?"Unblock":"Block"; %></a>
                      </div>
                    </div>
                  </div>
                  
                  
                  
                  <%})%>
              <% } else { %>
                <h2 class="text-center">No Users</h2>
              <% } %>

              </div> 


        </div>
</div>
    <!-- <%- include('../layout/footer')-%> -->
<%- include('../layout/footerHTML')-%>