<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" href="../../public/css/category.css">

</head>
<body>
  <%- include('../layout/adminHeader') %>
    <div class="backButton" style="text-decoration: none;">
        <a href="/admin/productList">
            <button class="btn btn-dark">Back</button>
        </a>
    </div>
    <main class="container w-50 mt-5">
        <section class="content-main">
          
            <div class="card p-2" style="background-color:  #be6fff; border-radius: 20px; border: 1px solid rgb(60, 60, 60); ">
                <div class="card-body">
                  <div>
                    <h3 class="text-center mb-3"  style="font-family: 'Michroma', sans-serif;">Add Categories</h3>
                </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form class="needs-validation">
                                <div class="mb-4">
                                    <label for="product_name" class="form-label " style="font-family: 'Michroma', sans-serif;">Name</label>
                                    <input name="name" type="text" placeholder="Type here" class="form-control rounded-pill" id="product_name" required/>
                                </div>
                               
                                <div class="mb-4">
                                    <label class="form-label" style="font-family: 'Michroma', sans-serif;">Discount %</label>
                                    <input name="discountPercentage" type="number" value="0" placeholder="Type here"  class="form-control "></input>
                                </div>
                               
                                <div class="mb-4">
                                    <label class="form-label" style="font-family: 'Michroma', sans-serif;">Description</label>
                                    <textarea name="description" type="text" placeholder="Type here" class="form-control "></textarea>
                                </div>
                                <div class="d-flex justify-content-center">
                                    <button class="btn btn-warning  rounded-pill px-5" id="button">Add</button>
                                </div>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </main>
    <div class="container w-50">
    <div class="row g-4 mt-5 d-flex" style="background-color: #ecd7ff; justify-content: center; border: 1px solid rgb(159, 159, 159); border-radius: 20px ; padding: 20px; margin-bottom: 40px;">
        <% if (categories=='') { %>
          <h2 class="text-center">No Such categories</h2>
        <% } %>
        <% if (categories) { %>
          <h4 class="text-center mb-3 mt-2"  style="font-family: 'Michroma', sans-serif;">Categories ( <%=categories.length%> )</h4>
        <% categories.forEach(category=>{%>
            <div class=" w-100 p-3 m-3" style="display: flex; flex-wrap: wrap; justify-content: space-between; border: 1px solid rgb(189, 189, 189); border-radius: 20px; background-color: #be6fff; box-shadow: 0px 0px 3px violet;" >
              <div class=""  style="font-family: 'Michroma', sans-serif;">
                <span class="card-title d-block"><span class=" text-break overflow-auto word-wrap" style="font-size: 17px; font-weight: 700;">Name : </span><%= category.name%></span>
                <span class="card-title d-block"><span class=" text-break overflow-auto word-wrap" style="font-size: 17px; font-weight: 700;">Discount : </span><%= category.discountPercentage||0%></span>
                <span class="card-title inline-block mt-2"><span style="font-size: 17px; font-weight: 700;">Description : </span></span>
                <p class="ps-2 pe-2 pb-2 text-break overflow-auto word-wrap"><%= category.description %></p>
              </div>
              <div class="d-flex" style="justify-content: end; align-self: baseline;">
                  <a href="/admin/editCategory?id=<%=category._id%>" class="editCategoryButton btn btn-dark rounded-pill px-3"><i class="fa-solid fa-pencil"></i></a>
                  <a class="btn ms-2 btn-danger rounded-pill px-3 showHideButton" id="<%=category._id%>" >
                    <%if(category.deleted){%>
                      <i class="bi bi-eye-slash"></i>
                      <%}else{%>
                        <i class="bi bi-eye"></i>
                        <%}%>
                  </a>
                </div>
              </div>
            <%})%>
        <% } else { %>
          <h2 class="text-center">No Such Categories</h2>
        <% } %>
        </div> 
<%- include('../layout/alert')-%>
</div>
<script src="../../public/jsFiles/category.js"></script>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>