<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/adminHome.css">
<link rel="stylesheet" type="text/css" href="../../public/css/card.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<style>
  * a{
    cursor: pointer;
  }
</style>
</head>
<body>
    <%- include('../layout/adminHeader')-%>
    <div class="container mt-5 mb-5">
      <h3 class="text-center mb-3 d-block" style="  font-family: 'Michroma', sans-serif;">Total Sales & Stats</h3>
      <div class="btn-group dropdown" style="font-family: 'Michroma', sans-serif; font-size: large; color: white !important;">
        <button type="button" style="font-size: large;" class="btn btn-dark rounded-pill dropdown-toggle px-3 py-2 ms-3" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-solid fa-chart-simple me-3" style="font-size: 20px;"></i>Browse
        </button>
        <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.913);">
            <li class="dropdown pb-4 ps-3 pe-3">
              <div class="btn-group dropdown">
                <a class="btn btn-dark  px-3 py-2" id="customDatesBtn2" style="text-decoration: none; color:white !important;" >Select Period</a>
            </div>
                <div class="btn-group dropdown">
                    <button class="btn btn-dark dropdown-toggle px-3 py-3" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 16px;">
                        Monthly
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.574);">
                        <% const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
                        <% months.forEach(month => { %>
                          <li class="pb-4 ps-3 pe-3">
                            <a style="text-decoration: none; color:white !important;" onclick="selectMonth('<%= month %>');"><%= month %></a>
                        </li>
                        
                        <% }); %>
                    </ul>
                </div>
                <div class="btn-group dropdown">
                    <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Yearly
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.575);">
                        <% 
                            const currentYear = new Date().getFullYear();
                            for (let year = 2023; year <= currentYear; year++) { 
                        %>
                            <li class="ps-3 pe-3">
                                <a style="text-decoration: none; color:white !important;" onclick="selectYear('<%= year %>');"><%= year %></a>
                            </li>
                        <% } %>
                    </ul>
                </div>
                <div class="btn-group dropdown">
                    <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Sales Report <i class="ms-1 fa-regular fa-file-lines"></i>
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.575);">
                          <li class="pb-4 ps-3 pe-3">
                            <a class="btn btn-dark" id="customDatesBtn" style="text-decoration: none; color:white !important;" >Select Period</a>
                          </li>
                          <%if(locals?.salesWeekly.length>0){%>
                            <div class="btn-group dropdown">
                              <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Weekly
                              </button>
                              <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.575);">
                                  <%for (const sale of salesWeekly ){%>
                                    <li class="p-3">
                                        <a style="text-decoration: none; color:white !important; text-wrap: nowrap;" href="/admin/salesReport?id=<%=sale._id%>"><%= sale.date %></a>
                                    </li>
                                  <% } %>
                              </ul>
                          </div>
                          <%}%>
                          <%if(locals?.salesMonthly.length>0){%>
                            <div class="btn-group dropdown">
                              <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Monthly
                              </button>
                              <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.575);">
                                  <%for (const sale of salesMonthly ){%>
                                    <li class="p-3">
                                        <a style="text-decoration: none; color:white !important; text-wrap: nowrap;" href="/admin/salesReport?id=<%=sale._id%>"><%= sale.date %></a>
                                    </li>
                                  <% } %>
                              </ul>
                            </div>
                          <%}%>
                    </ul>
                </div>
            </li>
            <li class="pb-4 ps-3 pe-3">
                <a style="text-decoration: none; color:white !important;" onclick="reset();">By Payment Method</a>
            </li>
            <li class="pb-4 ps-3 pe-3">
                <a style="text-decoration: none; color:white !important;" onclick="salesByCategory();">By Category</a>
            </li>
            
        </ul>
        <script>
          $('.dropdown-menu').on('click', function(e) {
            if ($(this).hasClass('dropdown-menu')) {
                e.stopPropagation();
            }
          });
      </script>
    </div>
      <canvas class="mt-3" id="myChart" style="width:100%; max-width:1000 px; max-height: 700px;"></canvas>
    </div>
    <div class="modal fade" id="datepickerModal" tabindex="-1" role="dialog" aria-labelledby="datepickerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="datePickerForm" action="/admin/customDates" method="post">
            <div class="modal-header">
              <h5 class="modal-title" id="datepickerModalLabel">Select Date Range</h5>
              <button type="button" class=" btn rounded" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times fs-3 " aria-hidden="true"></i>
            </button>
            </div>
            <div class="modal-body">
              <!-- Date picker input fields -->
              <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate" name="startDate">
              </div>
              <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate" name="endDate">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal fade datepickerModal2" id="datepickerModal2" tabindex="-1" role="dialog" aria-labelledby="datepickerModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <form id="datePickerForm2">
            <div class="modal-header">
              <h5 class="modal-title" id="datepickerModalLabel">Select Date Range</h5>
              <button type="button" class=" btn rounded" data-dismiss="modal" aria-label="Close" id="closeModel">
                <i class="fas fa-times fs-3 " aria-hidden="true"></i>
            </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDateChart" name="startDate">
              </div>
              <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDateChart" name="endDate">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Apply</button>
            </div>
          </form>
        </div>
      </div>
    </div>
<div class="container dataContainer">
  <style>
    .custom-table {
      background-color: #f8f9fa;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      overflow: hidden;
      z-index: 1;
    }
    .custom-table thead tr {
      background-color: #343a40;
      color: #fff;
    }
    .custom-table th,
    .custom-table td {
      vertical-align: middle;
    }
  </style>
  <table class="table table-responsive custom-table" cellpadding="10">
    <thead>
      <tr>
        <th>Method</th>
        <th>Orders</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach((data, index) => { %>
        <tr>
          <td><%= xValues[index] %></td>
          <td><%= data %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<div class="container mt-5 mb-4" style="font-family: 'Michroma', sans-serif;">
  <div class="d-flex justify-content-center gap-3 flex-wrap">
    <div class="card">
      <div class="card-details">
        <p class="text-title"><i class="fa-solid fa-money-bills"></i> Total Revenue</p>
        <div class="mt-auto" style="display: flex; justify-content: center;">
          <p class="text-body"><i class="fa-solid fa-indian-rupee-sign"></i> <%=totalSales.toFixed(2)%></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <p class="text-title"><i class="fa-solid fa-box"></i> Orders Completed</p>
        <div class="mt-auto" style="display: flex; justify-content: center;">
          <p class="text-body"><%=orderCompleted%></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <p class="text-title"><i class="fa-solid fa-boxes-packing"></i> Orders Pending</p>
        <div class="mt-auto" style="display: flex; justify-content: center;">
          <p class="text-body"><%=orderPending%></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <p class="text-title"><i class="fa-solid fa-users"></i> Total Users</p>
        <div class="mt-auto" style="display: flex; justify-content: center;">
          <p class="text-body"><%=totalUsers%></p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-details">
        <p class="text-title"><i class="fa-solid fa-truck-arrow-right"></i> Total Orders</p>
        <div class="mt-auto" style="display: flex; justify-content: center;">
          <p class="text-body"><%=total%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<h3 class="text-center mb-3 mt-5 d-block" style="  font-family: 'Michroma', sans-serif;">Top Selling Products</h3>
<div class="container d-flex mb-5">
  <div class="col-12" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around;">
      <% topProducts?.forEach((product) => {%>
      <div class="col-md-5 col-12 pt-3 pb-3">
          <div class="card">
              <a href="/admin/productDetailed?id=<%=product._id%>" style="text-decoration: none; color: black;">
                  <img src="<%= product.images[0]%>" class="card-img-top" alt="...">
              </a>
              <h5 class="text-center mb-2 mt-4" style="  font-family: 'Michroma', sans-serif;">Sales Count : <%=product.salesCount%></h5>
          </div>
      </div>
      <%})%>
  </div>
</div>
<script>
  let x = "<%=xValues%>";
  let y = "<%= yValues %>";
  let description = "<%= JSON.stringify(data) %>";
</script>

<%- include('../layout/alert')-%>
<script src="../../public/jsFiles/dashBoard.js"></script>
<script src="../../public/jsFiles/searchVal.js"></script>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>