<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/adminHome.css">
<link rel="stylesheet" type="text/css" href="../../public/css/card.css">
</head>
<body>
<%- include('../layout/adminHeader')-%>
<div class="container" style="margin-top: 10px; margin-bottom: 200px;"> 
       <div class="row">
        <div class="container mt-3 p-4" style="  border-radius: 20px; padding: 20px; background-color: rgba(255, 255, 255, 0.635);">
            <div class="row row-cols-1 row-cols-xl-3 row-cols-md-2 g-4  d-flex" style="justify-content: center;">
                <div class="col-12 w-100">
                  <div class="ms-2 d-flex justify-content-start">
                    
                  </div>
                    <div class="card " style="padding: 20px; width: 100% !important; height: min-content; overflow-wrap: break-word !important; overflow-wrap: break-word; ">
                        <div  style=" font-size: 30px; margin: 0px; padding: 0px;">
                          <h5 class="text-center d-inline-block" style="border-radius: 15px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.229); padding: 10px 25px 15px 25px; font-family: 'Michroma', sans-serif; margin-bottom: 10px; font-weight: 700; text-transform: capitalize;"><span style="font-weight: 400;"><%= user.name%></span></h5></div>
                <div class="row">
                    <div class="card-body col-sm-4 pe-3" style="display: flex; justify-content: start; gap: 10px; flex-wrap: wrap;">
                     
                      <span class="card-title d-block" style="overflow-wrap: break-word; word-break: break-all;">
                          <span style="    font-family: 'Michroma', sans-serif; font-size: 17px; font-weight: 700;">Email : </span><%= user.email%>
                      </span>
                      <span class="card-title d-block"><span style="    font-family: 'Michroma', sans-serif; font-size: 17px; font-weight: 700;">Contact : </span><%= user.contact%></span>
                      <span class="card-title d-block"><span style="    font-family: 'Michroma', sans-serif; font-size: 17px; font-weight: 700;">Products In Wishlist : </span><%= user.wishlist.length%></span>
                      <span class="card-title d-block"><span style="    font-family: 'Michroma', sans-serif; font-size: 17px; font-weight: 700;">Successful Orders : </span><%=ordersSuccess%></span>
                  </div>
                    <div class="card-body col-sm-8" style="display: flex; justify-content: space-evenly; gap: 10px; flex-wrap: wrap;">
                      <span class="card-title d-block"><span style="    font-family: 'Michroma', sans-serif; font-size: 17px; font-weight: 700;"><span>
                        <i class="fa-solid fa-cubes"></i> Orders : 
                      </span></span>
                      <p style="margin-top: 10px;">
                        <%if(orders.length>0){%>
                          <%orders.forEach(order=>{%>
                            <a href="/admin/orderDetailed?id=<%=order._id%>" style=" color: black;">
                                <p style="padding: 0px; margin: 0px;"><%=order.orderId%> (<%=moment(order.createdAt).format('YYY,MM,DD')%>)</p>
                            </a>
                          <%})%>
                        <%}else{%>
                          <span>No Orders.</span>
                        <%}%>
                      </p>
                    </span>
                      <span class="card-title d-block" style="overflow-wrap: break-word; word-break: break-all;">
                          <span style="    font-family: 'Michroma', sans-serif; font-size: 17px; font-weight: 700;"><i class="fa-solid fa-map-location-dot"></i> Address : </span>
                          <p style="margin-top: 10px;">
                            <%if(locals?.address){%>
                                <b class="capitalize"><%= address.name %><br></b>
                                    <%= address.address %><br>
                                    <%= address.landmark %><br>
                                    <%= address.city %>, <%= address.state %>, <%= address.pinCode %><br>
                                    <%= address.country %><br>
                                    Contact: <b><%= address.contact %></b>
                                <%}else{%>
                                    <span>No Address Have Been Added!</span>
                                    <%}%>
                            </p>
                      </span>
                  </div></div>
                    <div class=" d-flex align-item-center justify-content-end me-4">
                        <a href="/admin/editUser?id=<%=user._id%>" class="btn btn-dark rounded-circle me-2"><i class="fa-solid fa-pencil "></i></a>
                        <a href="/admin/blockUser?id=<%= user._id %>" class="btn btn-dark rounded-circle " id="button" onclick="handleButtonClick()">
                          <% if (user.isBlocked) { %>
                              <i class="fa-solid fa-user-large-slash"></i>
                          <% } else { %>
                              <i class="fa-solid fa-user-large"></i>
                          <% } %>
                      </a>
                      </div>
                    </div>
                  
              </div> 
        </div>
       </div> </div>
</div>
<script src="../../public/jsFiles/searchVal.js"></script>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>