<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/addProduct.css">

</head>
<body>
    <div class="backButton">
        <a href="/admin/productList">
            <button class="btn btn-dark">Back</button>
        </a>
    </div>

<% if(product){%>
    <div class="container mainCont mb-5">
        <h3 class="mb-3 w-100 text-center" style="font-family: 'Michroma', sans-serif;">Edit Product</h3>
        
        <a href="/admin/deleteProductCompletely?id=<%=product._id%>" class="btn btn-danger ms-auto mb-3"  id="button" >Delete</a>

        <form action="/admin/editProduct?id=<%=product._id%>" class="needs-validation" method="POST" enctype="multipart/form-data">
            
            <div class="form-group w-100">
                <div class="d-flex" style="flex-wrap: wrap; justify-content: space-around; column-gap: 10px; row-gap: 10px; place-items: center;">
                    <% product.images.forEach(image => { %>
                        <div class="rounded" style="overflow: hidden; height: 250px; align-items: center; position: relative;">
                            <img src="<%= image %>" class=" img-thumbnail" style="width: 270px; height: 250px; object-fit: cover; border-radius: 15px;" alt="...">
                            <input type="checkbox" class="form-check-input" name="selectedImages" value="<%= image %>" style="position: absolute; top: 10px; left: 10px; background-color: rgb(201, 30, 30); width: 40px; height: 40px; border-radius: 50%;" id="flexCheckIndeterminate" onclick="confirmDelete(this)">
                        </div>
                    <% }) %>
                    
                    <script>
                        function confirmDelete(checkbox) {
                            if (checkbox.checked) {
                                var confirmation = confirm("Are you sure you want to delete this image?");
                                if (!confirmation) {
                                    checkbox.checked = false;
                                }
                            }
                        }
                    </script>
                    
                </div>
                <div class="input-group mt-3">
                    <span class="input-group-text" style="height: auto !important;">Images:(4)</span>
                    <input class="inputFieldImage form-control inputSelect" type="file" class="form-control-file" id="images" name="images" accept="image/*" multiple >
                </div>
            </div>
            

            <div class="input-group">
                <span class="input-group-text">Name <span class="ms-auto" style="font-weight: 700;">:</span></span>
                <input class="inputField form-control" type="text" class="form-control" id="name" name="name" value="<%=product.name%>" required>
            </div>

            <div class="input-group">
                <span class="input-group-text">Price <span class="ms-auto" style="font-weight: 700;">:</span></span>
                <input class="inputField form-control" type="number" class="form-control" id="price" name="price" value="<%=product.price%>"  required>
            </div>
            <div class="input-group">
                <span class="input-group-text">Discount %  <span class="ms-auto" style="font-weight: 700;">:</span></span>
                <input class="inputField form-control" type="number" class="form-control" id="discountPercentage" name="discountPercentage" value="<%=product.discountPercentage-(discountPercentage||0)%>"  required>
            </div>
            <script>
                const id="<%=product._id%>";
            </script>

            <div class="input-group">
                <span class="input-group-text">Quantity <span class="ms-auto" style="font-weight: 700;">:</span></span>
                <input class="inputField form-control" type="number" class="form-control" id="quantity" name="quantity" value="<%=product.quantity%>"  required>
            </div>

            <div class="input-group">
                <span class="input-group-text">Brand <span class="ms-auto" style="font-weight: 700;">:</span></span>
                <select class="form-control inputSelect" id="brand" name="brand" required>
                    <option value="<%=product.brand%>"><%= product.brand.charAt(0).toUpperCase() + product.brand.slice(1) %></option>
                    <option value="nike">Nike</option>
                    <option value="reebok">Reebok</option>
                    <option value="converse">Converse</option>
                    <option value="jordan">Jordan</option>
                    <option value="asics">Asics</option>
                    <option value="crocs">Crocs</option>
                    <option value="adidas">Adidas</option>
                </select>
            </div>

            <div class="input-group">
                <span class="input-group-text">Category <span class="ms-auto" style="font-weight: 700;">:</span></span>
                <select class="form-control inputSelect" id="category" name="category" required>
                    <option value="<%=product.category?._id%>"><%=product.category?.name%></option>
                    <% categories.forEach (category=>{%>
                        <option value="<%= category?._id%>"><%= category?.name%></option>
                    <%}) %>
                </select>
            </div>
            <div class="form-control ">
                <label for="description">Description <span class="ms-auto" style="font-weight: 700;">:</span></label> <br>
                <textarea class="form-control" id="description" name="description" rows="4" required><%=product.description%></textarea>
            </div>


            <div class="form-control  ">
                <label for="sizes">Available Sizes <span class="ms-auto" style="font-weight: 700;">:</span></label> <br>
                <div class="d-flex" style="justify-content: center;">
                    <% const selectedSizes = product?.sizes %>
                    <% for (let size = 6; size <= 11; size++) { %>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" style="height: 20px; width: 20px;" id="size<%= size %>" name="sizes[]" value="<%= size %>" <% if (selectedSizes.includes(String(size))) { %>checked<% } %>>
                            <label class="form-check-label" for="size<%= size %>"><%= size %></label>
                        </div>
                    <% } %>
                </div>
            </div>
            
            <div class="submitButton mb-3">
            <button type="submit" class="btn btn-danger rounded-pill">Update Product</button></div>
        </form>
    </div>
<%}%>
<div class="alertKey">
    <% if(locals.message) { %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; right: 20px; bottom: 30px;"
        data-bs-autohide="true" data-bs-delay="2000" id="success-alert"> 
        <strong><%= message %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      
      <script>
        // Add this script to your page
        setTimeout(function() {
          document.getElementById('success-alert').style.display = 'none';
        }, 2000); // Adjust the delay (in milliseconds) as needed
      </script>
    <% } %>      
  </div>
  <div class="alertKey">
    <% if(locals.messageS) { %>
      <div class="alert alert-success alert-dismissible fade show" role="alert" style="position: absolute; right: 20px; bottom: 30px;"
        data-bs-autohide="true" data-bs-delay="2000" id="success-alert"> 
        <strong><%= messageS %></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  
      <script>
        // Add this script to your page
        setTimeout(function() {
          document.getElementById('success-alert').style.display = 'none';
        }, 2000); // Adjust the delay (in milliseconds) as needed
      </script>
    <% } %>      
  </div>

<script>
        (() => {
            'use strict';
            const forms = document.querySelectorAll('.needs-validation');
            Array.from(forms).forEach(form => {
                form.addEventListener('submit',async event => {
                    event.preventDefault();
                    const nameInput = form.querySelector('[name="name"]');
                    const nameValue = nameInput.value;
                    const categoryInput = form.querySelector('[name="category"]');
                    const categoryValue = categoryInput.value;
                    const priceInput = form.querySelector('[name="price"]');
                    const priceValue = priceInput.value;
                    const quantityInput = form.querySelector('[name="quantity"]');
                    const quantityValue = quantityInput.value;
                    const descriptionInput = form.querySelector('[name="description"]');
                    const descriptionValue = descriptionInput.value;
                    const discountPercentageInput = form.querySelector('[name="discountPercentage"]');
                    const discountPercentageValue = discountPercentageInput.value;
                    

                    if (/^\s*$/.test(nameValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        nameInput.value='';
                        const alertMessage='Name cannot be just spaces.';
                        showAlert(alertMessage);
                        return;
                    }
                    if (/^\s*$/.test(quantityValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        quantityInput.value='';
                        const alertMessage='Quantity cannot be just spaces.';
                        showAlert(alertMessage);
                        return;
                    }

                    if (/^\s*$/.test(descriptionValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        quantityInput.value='';
                        const alertMessage='Description cannot be just spaces.';
                        showAlert(alertMessage);
                        return;
                    }

                    if (/^\s*$/.test(priceValue) || isNaN(priceValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        priceInput.value='';
                        const alertMessage='Price cannot be just spaces, and it must be a valid number.';
                        showAlert(alertMessage);
                        return;
                    }
                    if (/^\s*$/.test(discountPercentageValue) || isNaN(discountPercentageValue)) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage='Discount cannot be just spaces, and it must be a valid number.';
                        showAlert(alertMessage);
                        return;
                    }

                    const numericPrice = parseFloat(priceValue);
                    if (numericPrice < 500 || numericPrice > 100000) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage = 'Price must be between 500 and 100,000.';
                        showAlert(alertMessage);
                        return;
                    }
                    const numericDiscountPercentage= parseFloat(discountPercentageValue);
                    if (numericDiscountPercentage < 0 || numericDiscountPercentage > 80) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage = 'Discount must be between 0 and 80.';
                        showAlert(alertMessage);
                        return;
                    }

                    const quantityParse = parseFloat(quantityValue);
                    if (quantityParse < 0 || quantityParse > 100000) {
                        event.preventDefault();
                        event.stopPropagation();
                        const alertMessage='Quantity must be between 1 and 100,000.';
                        showAlert(alertMessage);
                        return;
                    }
    

                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
    
                    try {
                        const response = await fetch(`/admin/checkDiscount?discount=${numericDiscountPercentage}&id=${id}&category=${categoryValue}&name=${nameValue}`);
                        const data = await response.json();
                        if(data.name==='exist'){
                            showAlert("Product Already Exist.!")
                        }
                        else if (data.discount === "true") {
                            event.target.submit()
                        } else if (data.discount==="false"){
                            showAlert("Total Discount is More than 80 Max("+data.select+")");
                        }else{
                            showAlert("Error")
                        }
                    } catch (error) {
                        console.log(error);
                    }

                    


                    form.classList.add('was-validated');
                }, false);
            });
        })();
        form.addEventListener('keydown', event => {
            if (event.key === 'Enter') {
                event.preventDefault();  // Add this line
                form.dispatchEvent(new Event('submit'));
            }
        });

</script>

<%- include('../layout/footerHTML')-%>