<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">
<link rel="stylesheet" type="text/css" href="../../public/css/profile.css">

</head>
<body>
<%- include('../layout/adminHeader') %>
<main class="container mt-5">
<section class="content-main">
<div class="container" style="display: flex; justify-content: center;">
        <div class="card" style="width: max-content; display: flex; justify-content: center;">
            <div class="card-body" style="background-color: #be6fff; border: 1px solid rgb(30, 28, 28); border-radius: 5px;">
                <div style="display: flex; justify-content: end;">
                    <a href="/admin/deleteCoupon?id=<%=id%>" class="btn btn-outline-dark mb-2"  id="button" >Delete</a>
                </div>
               
                <div class="mb-3" style="font-family: 'Michroma', sans-serif;">
                    <h2 class="text-center">Edit Coupon</h2>
                </div>
                <div class="row" style="display: flex; justify-content: center;" >
                    <div class="col-md-4 w-100" style="max-width: 600px;">
                        <form class="row g-3 needs-validation" novalidate enctype="application/form-data">
                            <div class="col-md-12">
                                <label for="validationCustom01" class="form-label">Code</label>
                                <input type="text" class="form-control rounded-pill" id="validationCustom01" name="code" value="<%=code%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="validationCustom02" class="form-label">Discount Percentage</label>
                                <input type="number" class="form-control rounded-pill" id="validationCustom02" name="discountPercentage" value="<%=discountPercentage%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="minimumAmount" class="form-label">Minimum Cart  Value</label>
                                <input type="number" class="form-control rounded-pill" id="minimumAmount" name="minimumAmount" value="<%=minimumAmount||0%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="maximumAmount" class="form-label">Maximum Cart Value</label>
                                <input type="number" class="form-control rounded-pill" id="maximumAmount" name="maximumAmount" value="<%=maximumAmount||0%>" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="validationCustom02" class="form-label">Discount Expiry Date:</label>
                                <input type="date" class="form-control rounded-pill" id="validationCustom02" name="discountExpiryDate" required value="<%=validUpTo.toISOString().split('T')[0]%>">
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="save">
                                <div class="d-flex" style="justify-content: center;">
                                    <button class="btn btn-dark rounded-pill mt-2" id="startCountdownButton" type="submit">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <script>const id = "<%=id%>"; </script>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>
<script src="../../public/jsFiles/editCoupon.js"></script>
<%- include('../layout/footerHTML')-%>
