<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/adminHome.css">
<link rel="stylesheet" type="text/css" href="../../public/css/card.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <%- include('../layout/adminHeader')-%>

        <style>
            /* Add custom styles here if needed */
            body {
                background-color: #f8f9fa;
            }
    
            .report-heading {
                background-color: #061d35;
                color: #ffffff;
                padding: 10px;
                border-radius: 15px;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.647);
                font-family: 'Michroma', sans-serif;
                margin-bottom: 20px;

            }
            .datas{
                margin: 10px 20px;
            }
            .section-heading {
                color: #0a2644;
                margin: 20px 20px 20px 10px;
                border-bottom: 2px solid #000000;
                padding-bottom: 5px;
                margin-bottom: 15px;
                font-family: 'Michroma', sans-serif;
                
            }
        </style>

    
        <div class="container mt-5 mb-5" style="border: 1px solid rgb(131, 131, 131); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.419); border-radius: 20px; padding: 20px;">
            <h3 class="text-center m-3" style="font-family: 'Michroma', sans-serif; padding: 10px;">RARE&nbsp; KICKS</h3>
            <!-- Monthly Sales Report Heading -->
            <div class="report-heading text-center">
                <h3><%=data.type%> Sales Report: <%= data.date %></h3>
            </div>
    
            <!-- Summary Section -->
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading">Summary</h3>
                    <h4 class="datas">Total Orders: <%= data.totalOrders %></h4>
                    <h4 class="datas">Successful Orders: <%= data.successfulOrders %></h4>
                    <h4 class="datas">Total Sales: <%= data.totalSales %></h4>
                    <h4 class="datas">Total Revenue: <%= data.totalRevenue %></h4>
                </div>
    
                <!-- Payment Methods Section -->
                <div class="col-12">
                    <h3 class="section-heading">Payment Methods</h3>
                    <% data.paymentMethods.forEach(function(method) { %>
                        <h5 class="datas"><b><%= method.method %></b> : <%= method.count %></h5>
                    <% }); %>
                </div>
            </div>
    
            <!-- Categories and Products Section -->
            <div class="row">
                <div class="col-12">
                    <h3 class="section-heading">Categories</h3>
                    <% data.categories.forEach(function(category) { %>
                        <h5 class="datas"><b><%= category.category %></b> : <%= category.sales %> sales, <%= category.count %> count</h5>
                    <% }); %>
                </div>
    
                <div class="col-12 mt-4">
                    <h3 class="section-heading">Products</h3>
                    <% data.products.forEach(function(product) { %>
                        <a href="/admin/productDetailed?id=<%=product.id._id%>" style="text-decoration: none; color: black;">
                            <h4 style="font-family: 'Michroma', sans-serif; padding: 10px; text-wrap: wrap; word-wrap: break-word;"><u><%=product.id.name%></u></h4>
                        </a>
                        <h5 class="datas">Sales: <%= product.sales %>, Count: <%= product.count %>, Revenue: <%= product.revenue %></h5>
                    <% }); %>
                </div>
            </div>
            <div class="mt-5">
                <h6 class="text-end mb-2 me-4" style="font-family: 'Michroma', sans-serif;">Download Report</h6>
                <div class="d-flex me-2 gap-3" style="justify-content: end;">
                    <a class="btn btn-warning " href="/downloadSalesExcel?id=<%=data._id%>" target="_blank" style="font-family: 'Michroma', sans-serif;">
                        <i class="fa-regular fa-file-excel me-2">
                        </i>Excel</a>
                    <a class="btn btn-dark " href="/downloadPdf?id=<%=data._id%>" target="_blank" style="font-family: 'Michroma', sans-serif;">
                        <i class="fa-regular fa-file-pdf me-2">
                        </i>Pdf</a>
                </div>
            </div>
        </div>
    
  

<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>