<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">

</head>
<body>
    <%- include('../layout/header') %>

<div class="container productCont productContAll">

    <div class="btn-group dropdown" style="font-family: 'Michroma', sans-serif; font-size: large; ">
        <button type="button " style="font-size: large;" class=" btn btn-dark rounded-pill dropdown-toggle px-3 py-2" data-bs-toggle="dropdown" aria-expanded="false" style="display: block; align-items: center;">
            <i class="fa-solid fa-filter me-3 " style="font-size: 20px;"></i>Filter
        </button>
        <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.913);">
            <li class="dropdown pb-4 ps-3 pe-3">
                <div class="btn-group dropend">
                    <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CATEGORIES
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4" style="box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.913);">
                        <% if (locals?.categories) { %>
                            <% categories.forEach(category => { %>
                                <li class="pb-4 ps-3 pe-3"><a style="text-decoration: none;" href="/user/allCategories?id=<%= category._id %>"><%= category.name.toUpperCase() %></a></li>
                            <% }) %>
                        <% } else { %>
                            <li class="pb-4 ps-3 pe-3">NO CATEGORIES!</li>
                        <% } %>
                    </ul>
                </div>
                <div class="btn-group dropend">
                    <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        BRANDS
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4 " style="box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.913);">
                        <li class="text-center hover   pb-4 ps-3 pe-3"><a class="" style="text-decoration: none;" href="/user/brandBased/">All Brands</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=adidas">ADIDAS</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=reebok">REEBOK</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=jordan">JORDAN</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=asics">ASICS</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=crocs">CROCS</a></li>
                        <li class="text-center hover  ps-3 pe-3"><a style="text-decoration: none;" class=" " href="/user/brand?brand=converse">CONVERSE</a></li>
                    </ul>
                </div>
            </li>
        </ul>
        <script>
            $('.dropdown-menu').on('click', function(e) {
            if ($(this).hasClass('dropdown-menu')) {
                e.stopPropagation();
            }
            });
        </script>
    </div>
    

    <h2 class="text-center mt-2 mb-3" style="font-family: 'Michroma', sans-serif;"><%= locals.brand ? brand : 'All Products' %></h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 d-flex mb-5" style="justify-content: center;">
        <% if (products && products.length > 0) { %>
            <% products.forEach(product => { %>
                <div class="col">
                    <div class="card h-100">
                        <a href="/user/productDetailed?id=<%= product._id %>" style="text-decoration: none; color: black;">
                            <img src="../../public/productImages/<%= product.images[0]%>" class="card-img-top" alt="..." style="position: relative;">
                        <%if(product?.discountPercentage>0){%>
                            <span class="text-white" style="position: absolute; top: 10px; right: 10px; font-size: 15px; background-color:#CC0C39!important; border-radius: 10px; font-weight: bold; padding:8px ;"><%=product.discountPercentage%>% off</span>
                            <%}%>
                            <div class="card-body d-flex justify-content-center" style="flex-direction: column; align-items: center; font-family: 'Michroma', sans-serif;">
                                <h5 class="card-title text-center mb-2"><%= product.name %></h5>
                                <a href="/user/productDetailed?id=<%=product._id%>" class="btn btn-dark mt-auto rounded-pill"><%if(product?.discountPercentage&&product?.discountPercentage>0){%>
                                    <span class="text-danger"> &#x20B9 <%= (product.price-((product?.price*product?.discountPercentage)/100)).toFixed(0)%></span>
                                   
                                <%}else {%>
                                    &#x20B9 <%= product?.price%>
                                <%}%>
                                </a>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="col">
                <p class="text-center display-6" style="font-family: 'Michroma', sans-serif;"><u>No products.</u></p>
            </div>
        <% } %>
    </div>
</div>

    
<style>
    .dark-pagination .page-link {
        background-color: #000000;
        color: #fff;
    }
    .dark-pagination .page-item.active .page-link {
        background-color: #ffffff;
        border-color: #000000;
        color: rgb(0, 0, 0) !important;
    }
</style>

<%if(locals?.totalDocuments){%>
    <div class="container mt-2">
        <nav aria-label="Page navigation example " style="font-family: 'Michroma', sans-serif;">
            <ul class="pagination justify-content-center dark-pagination">
                <li class="page-item <%= page === 0 ? 'disabled' : '' %>">
                    <a class="page-link" href="<%= page > 0 ? '/user/allProducts?page=' + (page-1) : '#' %>" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i></span>
                    </a>
                </li>
                <% for (let i = 0; i < locals?.totalDocuments; i++) { %>
                    <li class="page-item <%= i === page ? 'active' : '' %>">
                        <a class="page-link" href="/user/allProducts?page=<%= i %>"><%= i + 1 %></a>
                    </li>
                <% } %>
                <li class="page-item <%= page === totalDocuments - 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="<%= page < totalDocuments - 1 ? '/user/allProducts?page=' + (page+1) : '#' %>" aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<%}%>



<div class="container Cont mt-5">
    <div class="responsive-container">
        <div class="info-box border border-dark ">
          <h2>Free Delivery</h2>
          <p>Enjoy the ultimate convenience with our FREE delivery service!</p>
        </div>
        <div class="info-box border border-dark " style="margin-top: 5px; margin-bottom: 5px;">
          <h2>24/7 Support</h2>
          <p>Our dedicated team is here for you 24/7, ready to assist with any questions or concerns.</p>
        </div>
        <div class="info-box border border-dark ">
          <h2>Return Policy</h2>
          <p>Your satisfaction is our top priority!policy is designed for you.</p>
        </div>
    </div>
</div>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>