<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">
<link rel="stylesheet" type="text/css" href="../../public/css/card.css">
<link rel="stylesheet" type="text/css" href="../../public/css/allProducts.css">

</head>
<body>
    <%- include('../layout/header') %>

<div class="container productCont productContAll">
    <div class="container  filterDropdown">
        <ul class="p-4 filterDropdownUl">
            <h3 class="text-center text-light mt-2 mb-3 mainFontFamily w-100">
                <%= locals.brand ? `${brand} (${products?.length} result${products?.length !== 1 ? 's' : ''})` : (name ? `${name} (${products?.length} result${products?.length !== 1 ? 's' : ''})` : 'All Products') %>
              </h3>
            <li class="dropdown">
                <div class="btn-group dropdown">
                    <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CATEGORIES
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4 filterDropdownUl">
                        <% if (locals?.categories) { %>
                            <% categories.forEach(category => { %>
                                <li class="pb-4 ps-3 pe-3"><a  href="/user/allCategories?id=<%= category._id %>"><%= category.name.toUpperCase() %></a></li>
                            <% }) %>
                        <% } else { %>
                            <li class="pb-4 ps-3 pe-3">NO CATEGORIES!</li>
                        <% } %>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <div class="btn-group dropdown">
                    <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        BRANDS
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4 filterDropdownUl">
                        <li class="text-center hover   pb-4 ps-3 pe-3"><a  href="/user/brandBased/">All Brands</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a href="/user/brand?brand=adidas">ADIDAS</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a href="/user/brand?brand=reebok">REEBOK</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a href="/user/brand?brand=jordan">JORDAN</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a href="/user/brand?brand=nike">NIKE</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a href="/user/brand?brand=asics">ASICS</a></li>
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a href="/user/brand?brand=crocs">CROCS</a></li>
                        <li class="text-center hover  ps-3 pe-3"><a href="/user/brand?brand=converse">CONVERSE</a></li>
                    </ul>
                </div>
            </li>
            <li class="dropdown">
                <div class="btn-group dropdown">
                    <button class="btn btn-dark dropdown-toggle px-3 py-2" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        PRICE
                    </button>
                    <ul class="dropdown-menu bg-dark text-center p-4 filterDropdownUl">
                        <li class="text-center hover  pb-4 ps-3 pe-3"><a href="/user/priceLowToHigh">LOW-HIGH</a></li>
                        <li class="text-center hover  ps-3 pe-3"><a  class="" href="/user/priceHighToLow">HIGH-LOW</a></li>
                    </ul>
                </div>
            </li>
            <li>
               <a href="/user/bestSeller">
                <button class="btn btn-dark px-3 py-2" type="button">
                    BEST SELLING
                </button>
               </a>
            </li>
            <li>
               <a href="/user/sortByRating">
                <button class="btn btn-dark px-3 py-2" type="button">
                    BY RATING
                </button>
               </a>
            </li>
        </ul>
        <script>
            $('.dropdown-menu').on('click', function(e) {
            if ($(this).hasClass('dropdown-menu')) {
                e.stopPropagation();
            }
            });
        </script>
    </div>
    


    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 d-flex mb-5 mt-4" style="justify-content: center;">
        <% if (products && products.length > 0) { %>
            <% products.forEach(product => { %>
                <div class="col">
                    <div class="card h-100 hoverCard">
                        <a href="/user/productDetailed?id=<%= product._id %>" style="color: black;">
                            <img src="<%= product.images[0]%>" class="card-img-top productImageMain" alt="..." style="position: relative;">
                        <%if(product?.discountPercentage>0){%>
                            <span class="text-white cardText"><%=product.discountPercentage%>% off</span>
                            <%}%>
                            <div class="card-body d-flex flex-column align-items-center justify-content-center" style="font-family: 'Michroma', sans-serif;">
                                <h5 class="card-title text-center mb-2"><%= product.name%></h5>
                                <a href="/user/productDetailed?id=<%=product._id%>" class="btn btn-dark mt-auto rounded-pill price-btn">
                                    <% if (product?.discountPercentage && product?.discountPercentage > 0) { %>
                                        <span class="text-danger"> &#x20B9 <%= (product.price - ((product?.price * product?.discountPercentage) / 100)).toFixed(0)%></span>
                                    <% } else { %>
                                        &#x20B9 <%= product?.price%>
                                    <% } %>
                                </a>
                                <button id="<%=product._id%>" class="wishlistToggle btn">
                                    <% if (product?.wish) { %>
                                        <i class="bi bi-heart-fill" style="font-size: 40px;"></i>
                                    <% } else { %>
                                        <i class="bi bi-heart" style="font-size: 40px;"></i>
                                    <% } %>
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            <% }); %>
        <% } else { %>
            <div class="col">
                <p class="text-center display-6 mainFontFamily"><u>No products.</u></p>
                <a href="/user/allProducts" class="mt-3" style="display: flex; justify-content: center; text-decoration: none;"><span class="btn border border-black  btn-warning  rounded py-3 px-3 mainFontFamily">Continue Shopping</span></a>
            </div>
        <% } %>
    </div>
</div>
<%if(locals?.totalDocuments){%>
    <div class="container mt-2 mainFontFamily">
        <nav aria-label="Page navigation example mainFontFamily" >
            <ul class="pagination justify-content-center dark-pagination">
                <li class="page-item <%= page === 0 ? 'disabled' : '' %>">
                    <a class="page-link" href="<%= page > 0 ? '/user/allProducts?page=' + (page-1) : '#' %>" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-left"></i></span>
                    </a>
                </li>
                <% for (let i = 0; i < locals?.totalDocuments; i++) { %>
                    <li class="page-item <%= i === page ? 'active' : '' %>">
                        <a class="page-link" href="/user/allProducts?page=<%= i %>"><%= i + 1 %></a>
                    </li>
                <% } %>
                <li class="page-item <%= page === totalDocuments - 1 ? 'disabled' : '' %>">
                    <a class="page-link" href="<%= page < totalDocuments - 1 ? '/user/allProducts?page=' + (page+1) : '#' %>" aria-label="Next">
                        <span aria-hidden="true"><i class="fa-solid fa-angles-right"></i></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
<%}%>
<script src="../../public/jsFiles/addToWishlist.js"></script>
<%- include('../layout/adText')-%>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>