<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">
<link rel="stylesheet" type="text/css" href="../../public/css/card.css">
<link rel="stylesheet" type="text/css" href="../../public/css/brandBasedPage.css">
</head>
<body>
    <%- include('../layout/header') %>
    <div class="container productCont">
        <% datas?.forEach(brand => { %>
            <h2 class="text mt-2 mainFontFamily"><%= brand._id %> : </h2>
            <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 d-flex mb-5" style="justify-content: center;">
                <% if (brand.products && brand.products.length > 0) { %>
                    <% brand.products.forEach(product => { %>
                        <div class="col">
                            <div class="card h-100">
                                <a href="/user/productDetailed?id=<%= product._id %>" style="color: black;">
                                    <img src="<%= product.images[0]%>" class="card-img-top" alt="..." style="position: relative;">
                                <%if(product?.discountPercentage>0){%>
                                    <span class="text-white discountText"><%=product.discountPercentage%>% off</span>
                                    <%}%>
                                    <div class="card-body d-flex justify-content-center mainFontFamily" style="flex-direction: column; align-items: center;">
                                        <h5 class="card-title text-center mb-2"><%= product.name %></h5>
                                        <a href="/user/productDetailed?id=<%=product._id%>" class="btn btn-dark mt-auto rounded-pill"><%if(product?.discountPercentage&&product?.discountPercentage>0){%>
                                            <span class="text-danger"> &#x20B9 <%= (product.price-((product?.price*product?.discountPercentage)/100)).toFixed(0)%></span>
                                        <%}else {%>
                                            &#x20B9 <%= product?.price%>
                                        <%}%>
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </div>
                    <% }); %>
                <% } else { %>
                    <div class="col">
                        <p class="text-center display-6" style="font-family: 'Michroma', sans-serif;"><u>No products available.</u></p>
                    </div>
                <% } %>
            </div>
        <% }); %>
    </div>
<%- include('../layout/adText')-%>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>