<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">
<link rel="stylesheet" type="text/css" href="../../public/css/card.css">
<link rel="stylesheet" type="text/css" href="../../public/css/detailedProduct.css">
<link rel="stylesheet" type="text/css" href="../../public/css/productReview.css">

</head>
<body>
    <%- include('../layout/header')-%>
    <div class="container" style="margin-top: 20px;">
        <div class="row" style="border: 1px solid rgb(173, 173, 173); border-radius: 20px; ">
            <div class="col-12 col-xl-7 col-lg-12 p-2 d-flex align-items-center">
                <div class="row g-2 w-100">
                    <% if (product?.images && product?.images.length === 1) { %>
                        <div class="col-12">
                            <div class="card position-relative">
                                <img src="<%= product.images[0] %>" class="card-img-top productImageMain" alt="..." style="width: 100%; height: auto;">
                            </div>
                        </div>
                        
                    <% } else { %>
                        <% product?.images?.forEach((image, index) => { %>
                            <div class="col-xl-6 col-lg-6 col-12">
                                <div class="card" data-toggle="modal" data-target="#imageModal<%= index %>">
                                    <!-- Add data-toggle and data-target attributes to the img element -->
                                    <img src="<%= image %>" class="card-img-top productImageMain" alt="..." >
                                    <div class="overlay">
                                        <i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Modal -->
                            <div class="modal fade" id="imageModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header" style="display: flex; justify-content: end;">
                                            <button type="button" class="btn btn-dark" data-dismiss="modal"><i class="fa-solid fa-xmark fs-3" style="color: #ffffff;"></i></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- Display the image in the modal body -->
                                            <img src="<%= image %>" class="img-fluid" alt="...">
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                        
                    <% } %>
            </div>
        </div>
            <div class="col-12 col-xl-5 col-lg-12 pt-3 pb-2 ps-4 pe-2 " style="background-color: #f6f6f6; border-radius: 20px; box-shadow: 
            0px 0px 5px rgba(0, 0, 0, 0.349);" >
                <h3 class="card-title  mt-2 text-center" style=" font-family: 'Michroma', sans-serif;"><u><%= product?.name%></u></h3>
                
                <div class="d-flex align-item-center mt-5">
                <a class="btn btn-dark rounded-pill text-center text-danger ps-4 pe-4" style="font-size: 30px; letter-spacing: 2px;">&#x20B9 <%if(product?.discountPercentage&&product?.discountPercentage>0){%>
                        <%= (product.price-((product?.price*product?.discountPercentage)/100)).toFixed(2)%>
                    <%}else {%>
                        <%= product?.price%>.00
                    <%}%>
                </a>
                <a id="<%=product._id%>" class="addToWishlistButton" style="color: rgb(0, 0, 0); text-decoration: none;">
                    <% if (wishlist) { %>
                        <i class="bi bi-heart-fill ms-2" style="font-size: 40px;"></i>
                    <% } else { %>
                        <i class="bi bi-heart ms-2" style="font-size: 40px;"></i>
                    <% } %>
                </a>
            </div>
            <%if(product?.discountPercentage&&product?.discountPercentage>0){%>
                <div class="ms-2 d-flex text-danger" style="font-size: 14px; font-family: 'Michroma', sans-serif;">
                    <span>Discount : - <%=product.discountPercentage%> %</span>  
                  </div>
                <div class="ms-2 d-flex" style="font-size: 13px; font-family: 'Michroma', sans-serif;">
                    <span>M.R.P : &#x20B9 <strike><%=product?.price%></strike></span>  
                  </div>
            <%}%>
            <div class="px-2 " style="display: inline-block; margin-top: 6px; border: 1px solid rgb(215, 215, 215); border-radius: 30px; background-color: #ffffffc1; font-family: 'Michroma', sans-serif; padding-bottom: 5px;">
                <% const rating = averageRating; %>
                <span style="font-size: 10px;"><%=rating%> / 5</span>
                <a href="#reviewCont" style="text-decoration: none;">
                    <% for (let i = 0; i < 5; i++) { %>
                        <% if (i < rating) { %>
                            <i class="fa-solid fa-star fs-6" style="color: gold;"></i>
                        <% } else { %>
                            <i class="fa-regular fa-star fs-6" style="color: rgba(255, 217, 0, 0.787);"></i>
                        <% } %>
                        <% } %>
                </a>
                <span style="font-size: 10px;">  <%=product.reviews.length%> ratings</span>
            </div>
            <div class="container ">
                <div class="sizeChart d-flex justify-content-end align-items-baseline">
                    <div id="selectedSizes" class="me-auto" style="font-family: 'Michroma', sans-serif;"></div>
                    <span class="me-2" style="font-size: 20px;"><u>Size Chart</u></span>
                    <i class="bi bi-bar-chart-line" style="font-size: 30px;"></i>
                </div>
                <div class="btn-group d-flex" style="justify-content: space-around;" role="group" aria-label="Sizes">
                    <% if (product?.sizes && product?.sizes.length > 0 && product?.quantity>0) { %>
                        <% product.sizes.forEach((size) => { %>
                            <div class="btn btn-dark size-button rounded" data-size="<%= size %>" data-product-id="<%= product._id %>"><%= size %></div>
                        <% }) %>
                        <button class="btn btn-dark rounded clearSizesButton" data-product-id="<%= product._id %>">Clear</button>
                    <% } else { %>
                        <p class="text-danger btn rounded btn-dark pb-2" style="font-family: 'Michroma', sans-serif; font-size: 20px;">
                            <span class="fs-4">Out Of Stock!! </span>
                        </p>
                    <% } %>
                </div>
                <% if(product?.sizes.length>0 && product?.quantity>0){%>
                    <a href="" id="<%=product?._id%>" class="addToCart btn btn-dark d-flex justify-content-center mt-4 pt-1 pb-1 mb-2" ><h3 style=" font-family: 'Michroma', sans-serif;">Add To Cart</h3></a>

                <%} %>
                <p class="" style="font-family: 'Michroma', sans-serif; font-size: 20px;" ><span class="fs-4">Brand : </span><%=product?.brand%></p>
                <p class="" style="font-family: 'Michroma', sans-serif; font-size: 20px;" ><span class="fs-4">Category : </span><%=product?.category?.name%></p>
                <h3 class="mt-3" style="font-family: 'Michroma', sans-serif; ">About Product : </h3>
                <p class="descriptionCont mainFontFamily" id="descriptionCont" style="font-size: 16px;">
                    <%=product?.description%>
                </p>
                <span id="showMore" class="mainFontFamily text-end d-block" style="cursor: pointer; text-decoration: underline;">show more.</span>
            </div>
        </div>
    </div>
    </div>
    <%- include('../layout/adText')-%>
<div class="container" style="margin-top: 70px;">
    <h2 style="  font-family: 'Michroma', sans-serif;">You May Also Like </h2>
</div>
<div class="container productCont mt-3 mb-5">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 d-flex mt-2 ms-3 me-3 mb-4 " style="justify-content: center;">
<%
let counter = 0;
products?.forEach(productA => {
    if (counter >= 6 && counter <= 14) {
%>
<div class="col">
    <div class="card h-100">
        <a href="/user/productDetailed?id=<%=productA._id%>" style="text-decoration: none; color: black;">
        <img src="<%= productA.images[0]%>" class="card-img-top productImageMain" alt="..." style="position: relative;">
        <%if(productA?.discountPercentage>0){%>
            <span class="text-white" style="position: absolute; top: 10px; right: 10px; font-size: 15px; background-color:#CC0C39!important; border-radius: 10px; font-weight: bold; padding:8px ;"><%=productA.discountPercentage%>% off</span>
            <%}%>
        <div class="card-body d-flex justify-content-center" style="flex-direction: column; align-items: center; font-family: 'Michroma', sans-serif;">
            <h5 class="card-title text-center mb-2"><%= productA.name%></h5>
        <a href="/user/productDetailed?id=<%=productA._id%>" class="btn btn-dark mt-auto rounded-pill"><%if(productA?.discountPercentage&&productA?.discountPercentage>0){%>
            <span class="text-danger"> &#x20B9 <%= (productA.price-((productA?.price*productA?.discountPercentage)/100)).toFixed(0)%></span>
        <%}else {%>
            &#x20B9 <%= productA?.price%>
        <%}%>
        </a>
    </div></a>
</div>
</div>
<%
    }
    counter++;
});
%>
</div>
</div>

<div class="container mt-3 mb-5" style=" padding: 20px; font-family: 'Michroma', sans-serif; " id="reviewCont">
    <h4 class="mb-2" style="font-family: 'Michroma', sans-serif;">Reviews : </h4>
    <div class="reviewContainerMain">
        <%if(product.reviews&&product.reviews.length>0){%>
            <%product.reviews.forEach(review=>{%>
                <div class="product-card">
                    <div class="product-info">
                        <h5><i class="bi bi-person-check me-2 fs-4 my-auto"></i> <%=review.userName.toUpperCase()%></h5>
                        <p><b>Posted On : </b><%=moment(review.postedOn).format('YYYY-MM-DD')%></p>
                        <p class="productReview" style="margin-top: -10px;"><b>Review : <%=review.rating%>/5 </b><%=review.review%></p>
                    </div>
                    <div class="rating-container">
                        <% const rating = review.rating; %>
                        <% for (let i = 0; i < 5; i++) { %>
                            <% if (i < rating) { %>
                                <i class="fa-solid fa-star fs-3" style="color: gold;"></i>
                            <% } else { %>
                                <i class="fa-regular fa-star fs-3"></i>
                            <% } %>
                        <% } %>
                    </div>
                </div>
                <%})%>
            <%} else {%>
                <div class="product-card" style="border: 1px solid rgb(68, 67, 67); background-color: rgba(255, 255, 255, 0.804);">
                    <div class="product-info ">
                        <h5 class="text-center" style="white-space: nowrap;">No review's</h5>
                    </div>
                <%}%>
        </div>

    <!-- Button to Open Review Modal -->
    <button type="button" class="bookmarkBtn ms-auto my-auto me-2" data-toggle="modal" data-target="#reviewModal">
        <span class="IconContainer"> 
         <svg fill="white" viewBox="0 0 512 512" height="1em"><path d="M123.6 391.3c12.9-9.4 29.6-11.8 44.6-6.4c26.5 9.6 56.2 15.1 87.8 15.1c124.7 0 208-80.5 208-160s-83.3-160-208-160S48 160.5 48 240c0 32 12.4 62.8 35.7 89.2c8.6 9.7 12.8 22.5 11.8 35.5c-1.4 18.1-5.7 34.7-11.3 49.4c17-7.9 31.1-16.7 39.4-22.7zM21.2 431.9c1.8-2.7 3.5-5.4 5.1-8.1c10-16.6 19.5-38.4 21.4-62.9C17.7 326.8 0 285.1 0 240C0 125.1 114.6 32 256 32s256 93.1 256 208s-114.6 208-256 208c-37.1 0-72.3-6.4-104.1-17.9c-11.9 8.7-31.3 20.6-54.3 30.6c-15.1 6.6-32.3 12.6-50.1 16.1c-.8 .2-1.6 .3-2.4 .5c-4.4 .8-8.7 1.5-13.2 1.9c-.2 0-.5 .1-.7 .1c-5.1 .5-10.2 .8-15.3 .8c-6.5 0-12.3-3.9-14.8-9.9c-2.5-6-1.1-12.8 3.4-17.4c4.1-4.2 7.8-8.7 11.3-13.5c1.7-2.3 3.3-4.6 4.8-6.9c.1-.2 .2-.3 .3-.5z"></path></svg>
        </span>
        <p class="text">Add Review</p>
    </button>

    <!-- Review Modal -->
    <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="background-color: black; color: white;">
                <div class="modal-header">
                    <h5 class="modal-title" id="returnModalLabel" style="font-family: 'Michroma', sans-serif;">Write Your Review!</h5>
                    <button type="button" class="close btn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="bi bi-x-square-fill" style="font-size: 30px; color: white;"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Review Form -->
                    <form id="reviewForm">
                        <div class="form-group rating">
                            <input value="5" name="userReviewRating" id="star5" type="radio">
                            <label for="star5"></label>
                            <input value="4" name="userReviewRating" id="star4" type="radio">
                            <label for="star4"></label>
                            <input value="3" name="userReviewRating" id="star3" type="radio">
                            <label for="star3"></label>
                            <input value="2" name="userReviewRating" id="star2" type="radio">
                            <label for="star2"></label>
                            <input value="1" name="userReviewRating" id="star1" type="radio">
                            <label for="star1"></label>
                          </div>
                        <div class="form-group">
                            <label for="userReview">Your Review:</label>
                            <textarea class="form-control" id="userReview" rows="3" required></textarea>
                        </div>
                       <div style="display: flex; ">
                        <button type="submit" class="btn ms-auto btn-warning rounded-pill px-3 py-2 mt-2">Submit Review</button>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="../../public/jsFiles/productDetailed.js"></script>
<script src="../../public/jsFiles/cart.js"></script>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>