<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">

</head>
<body>
    <%- include('../layout/header')-%>
    <div class="container" style="margin-top: 20px;">
        <div class="row" style="border: 1px solid black; border-radius: 20px; ">
            <div class="col-12 col-lg-7 p-2 d-flex align-items-center">
                <div class="row g-2">
                    <% if (product?.images && product?.images.length === 1) { %>
                        <div class="col-lg-12 col-12">
                            <div class="card">
                                <img src="../../public/productImages/<%= product.images[0] %>" class="card-img-top" alt="...">
                            </div>
                        </div>
                    <% } else { %>
                        <% product?.images?.forEach((image) => { %>
                            <div class="col-lg-6 col-12">
                                <div class="card">
                                    <img src="../../public/productImages/<%= image %>" class="card-img-top" alt="...">
                                </div>
                            </div>
                        <% }) %>
                    <% } %>
            </div>
        </div>
            <div class="col-12 col-lg-5 pt-3 pb-2 ps-4 pe-2 " style="background-color: #D9D9D9; border-radius: 20px;" >
                <h3 class="card-title mb-2 mt-2 text-center" style=" font-family: 'Michroma', sans-serif;"><u><%= product?.name%></u></h3>
                <div class="d-flex align-item-center mt-5">
                <a class="btn btn-dark rounded-pill text-center text-danger ps-4 pe-4" style="font-size: 30px; letter-spacing: 2px;">&#x20B9 <%= product?.price%>.00
                </a>
                <a id="addToWishlist" style="color: rgb(0, 0, 0); text-decoration: none;">
                    <% if (wishlist) { %>
                        <i class="bi bi-heart-fill ms-2" style="font-size: 40px;"></i>
                    <% } else { %>
                        <i class="bi bi-heart ms-2" style="font-size: 40px;"></i>
                    <% } %>
                </a>
            </div>
            <div class="container mt-4 ">
                <div class="sizeChart d-flex justify-content-end align-items-baseline">
                    <div id="selectedSizes" class="me-auto" style="font-family: 'Michroma', sans-serif;"></div>
                    <span class="me-2" style="font-size: 20px;"><u>Size Chart</u></span>
                    <i class="bi bi-bar-chart-line" style="font-size: 30px;"></i>
                </div>
                <div class="btn-group d-flex" style="justify-content: space-around;" role="group" aria-label="Sizes">
                    <% if (product?.sizes && product?.sizes.length > 0 && product?.quantity>0) { %>
                        <% product.sizes.forEach((size) => { %>
                            <div class="btn btn-dark size-button rounded" data-size="<%= size %>" data-product-id="<%= product._id %>"><%= size %></div>
                        <% }) %>
                        <button class="btn btn-dark rounded clearSizesButton" data-product-id="<%= product._id %>">Clear</button>
                    <% } else { %>
                        <p class="text-danger btn rounded btn-dark pb-2" style="font-family: 'Michroma', sans-serif; font-size: 20px;">
                            <span class="fs-4">Out Of Stock!! </span>
                        </p>
                    <% } %>
                    
                </div>
                
                <% if(product?.sizes.length>0 && product?.quantity>0){%>
                    <a href="" id="<%=product?._id%>" class="addToCart btn btn-dark d-flex justify-content-center mt-4 pt-1 pb-1 mb-2" ><h3 style=" font-family: 'Michroma', sans-serif;">Add To Cart</h3></a>

                <%} %>


                <h3 class="mt-4" style="font-family: 'Michroma', sans-serif; "><u>About Product</u></h3>
                <p class="" style="font-family: 'Michroma', sans-serif; font-size: 16px;" ><%=product?.description%></p>
                <p class="" style="font-family: 'Michroma', sans-serif; font-size: 20px;" ><span class="fs-4">Category : </span><%=product?.category?.name%></p>
                <p class="" style="font-family: 'Michroma', sans-serif; font-size: 20px;" ><span class="fs-4">Brand : </span><%=product?.brand%></p>
            </div>
            <script>
                        const addToWishlist = document.getElementById('addToWishlist');
                        const wishCount = document.getElementById('wishCount');

                        addToWishlist.addEventListener('click', (e) => {
                            e.preventDefault();
                            productId="<%=product?._id%>"
                            const encodedProductId = encodeURIComponent(productId);
                            fetch('/user/addToWishlist?id='+encodedProductId)
                                .then(response => response.json())
                                .then(data => {
                                    if (data.added) {
                                        showSuccess("Added To Wishlist");
                                        addToWishlist.innerHTML='<i class="bi bi-heart-fill ms-2" style="font-size:40px;"></i>';
                                        let count=parseInt(wishCount.innerText)
                                        count++;
                                        wishCount.innerText=count
                                    } else {
                                        addToWishlist.innerHTML='<i class="bi bi-heart ms-2" style="font-size:40px;"></i>';
                                        showAlert("Removed from Wishlist");
                                        let count=parseInt(wishCount.innerText)
                                        count--;
                                        wishCount.innerText=count
                                    }
                                })
                                .catch(error => {
                                    console.error("Error checking category:", error);
                                });
                        });
            </script>
            
        </div>
    </div>
    </div>
    <div class="container Cont mt-5">
        <div class="responsive-container">
            <div class="info-box border border-dark ">
              <h2>Free Delivery</h2>
              <p>Enjoy the ultimate convenience with our FREE delivery service!</p>
            </div>
            <div class="info-box border border-dark " style="margin-top: 5px; margin-bottom: 5px;">
              <h2>24/7 Support</h2>
              <p>Our dedicated team is here for you 24/7, ready to assist with any questions or concerns.</p>
            </div>
            <div class="info-box border border-dark ">
              <h2>Return Policy</h2>
              <p>Your satisfaction is our top priority!policy is designed for you.</p>
            </div>
        </div>
    </div>
<div class="container" style="margin-top: 70px;">
    <h2 style="  font-family: 'Michroma', sans-serif;">You May Also Like </h2>
</div>
<div class="container productCont mt-3 mb-5">
        <div class="row row-cols-1 row-cols-lg-3 row-cols-md-2 g-4 d-flex mt-2 ms-3 me-3 mb-4 " style="justify-content: center;">
            <% products?.forEach(productA=>{%>
                <div class="col">
                    <div class="card h-100">
                        <a href="/user/productDetailed?id=<%=productA._id%>" style="text-decoration: none; color: black;">
                        <img src="../../public/productImages/<%= productA.images[0]%>" class="card-img-top" alt="...">
                        <div class="card-body d-flex justify-content-center" style="flex-direction: column; align-items: center; font-family: 'Michroma', sans-serif;">
                            <h5 class="card-title mb-2"><%= productA.name%></h5>
                        <a href="/user/productDetailed?id=<%= productA._id %>" class="btn btn-dark rounded-pill">&#x20B9 <%= productA.price%></a>
                    </div></a>
                </div>
            </div>
    <%})%>
</div>
</div>
<script src="../../public/jsFiles/cart.js"></script>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>