<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">
<link rel="stylesheet" type="text/css" href="../../public/css/profile.css">

</head>
<body>
    <%- include('../layout/header') %>
    <div class="container mt-5 mb-5" style="display: flex; justify-content: center;">
        <div class="mainCont" style="max-width: 700px; border: 1px solid black; border-radius: 20px; padding: 20px;">
            <form class="row g-3 needs-validation" action="/user/editProfile/" method="post" novalidate enctype="application/form-data">
                <h3 class="mb-4 text-center mb-3" style="font-family: 'Michroma', sans-serif;">Edit Profile!</h3>
                <div class="col-md-12">
                  <label for="validationCustom01" class="form-label">Name</label>
                  <input type="text" class="form-control" id="validationCustom01" value="<%=user.name%>" name="name" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="validationCustom02" class="form-label">Contact</label>
                  <input type="number" class="form-control" id="validationCustom02" name="contact" value="<%=user.contact%>" required>
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="validationCustomUsername" class="form-label">Email</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="email" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend" name="email" value="<%=user.email%>" required>
                    <div class="invalid-feedback">
                      Enter A Valid Email !
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <label for="validationPassword" class="form-label">Password</label>
                  <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-key"></i></span>
                    <input type="password" class="form-control" id="validationPassword" aria-describedby="inputGroupPrepend" name="password"  required>
                    <span class="btn rounded-pill" onclick="togglePassword()" id="passKey" style="font-size: 20px;"><i class="bi bi-eye-slash-fill"></i></span>
                    <span class="error-span">&nbsp;</span>
                    <div class="invalid-feedback">
                      Enter Your Password !
                    </div>
                  </div>
                </div>
                <div class="save">
                    <div class="d-flex" style="justify-content: center;">
                    <button class="btn btn-dark rounded-pill mt-2" id="startCountdownButton" type="submit">Save</button>
                    </div>
                </div>
              </form>
            
        </div>
            <div class="alertKey">
                <% if(locals.message){%>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="position: absolute; right: 20px; bottom: 30px;">
                        <strong><%=message%></strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                <%}%>
            </div>
        </div>

<script src="../../public/jsFiles/editProfile.js"></script>            
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>