<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/orderConfirmation.css">
</head>
<body>
    <div class="container" style="font-family: 'Michroma', sans-serif;">
        <img src="../../public/images/icons8-flower-delivery-64.png" alt="Success Logo" class="success-logo">
        <h2>Order Confirmation</h2>

        <div class="confirmation-message">
            <p>Your order has been successfully placed. Thank you for shopping with us!</p>
        </div>

        <div class="order-details">
            <h3>Order Details</h3>

            <% products.forEach(product => { %>
                <div class="product-card">
                    <div class="product-info">
                        <h5><%= product.product.name %></h5>
                        <p>Quantity : <%=product.quantity %></p>
                        <p>Price : <%= product.price %></p>
                    </div>
                    <img src="../../public/productImages/<%= product.product.images[0] %>" alt="Product 1" class="product-image">
                </div>
            <% }); %>
        </div>

        <div class="order-total">
            <p>Total Amount: <%= total %></p>
        </div>

        <div class="thank-you-message">
            <p>Thank you for shopping with us! Your order will be shipped soon.</p>
        </div>
        <a href="/user/home" class="mt-3 mb-5" style="display: flex; justify-content: center; text-decoration: none;"><span class="btn btn-dark rounded">Continue Shopping</span></a>
    </div>

    <div class="footer">
        <p>&copy; 2023 Your Store. All rights reserved.</p>
        <h2 class="text-center mb-4" style="  font-family: 'Michroma', sans-serif;"><u>RARE KICK'S</u></h2>
    </div>

<%- include('../layout/footerHTML')-%>
