<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/orderConfirmation.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="../../public/css/table.css">
</head>
<body>
    <%- include('../layout/header')-%>
        <%if(orders.length>0){%>
    <div class="container mt-4" style="border: 1px solid black ; padding: 10px; background-color: #212529; border-radius: 20px;">
      <div class="text-center text-white mt-2 " style=" font-family: 'Michroma', sans-serif;">
        <h3>All Orders</h3>
    </div>
    <div class="table-responsive">
        <table class="table table-dark table-striped w-100 " id="ordersTable" style=" font-family: 'Michroma', sans-serif;">
            <thead class="mt-2" style="height: 60px;text-align: center; align-items: center;">
              <tr>
                <th scope="col" class="text-center ">No :</th>
                <th scope="col" class="text-center " id="imageTableRow" style="width: 150px;">Images</th>
                <th scope="col" class="text-center ">Amount</th>
                <th scope="col" class="text-center ">Date</th>
                <th scope="col" class="text-center ">Status</th>
              </tr>
            </thead>
            <tbody> 
                <%let i=1%>
                <% orders.forEach(order => { %>
                <tr style="background-color:inherit  !important;">
                    <th scope="row" style="text-align: center; vertical-align: middle;"><%=i%></th>
                    <%var pros=order.products.items.length-1%>
                    <% order.products.items.forEach((item, index) => { %>
                        <% if (index === 0) { %>
                          <td style="width: 100%; text-align: center; display: grid; place-items: center; "  id="hideTableRow">
                            <a href="/user/orderDetailed?id=<%= order._id %>">
                              <img style="border-radius: 20px; margin-top: 10px; max-width: 150px;" src="<%= item.product.images[0] %>" alt="Product Image" class="card-img-top">
                            </a>
                           <%if(pros>0){%>
                            <span>+ <%=pros%> more</span>
                            <%}%>
                          </td>
                        <% } %>
                      <% }); %>
                      
                    <td class="align-middle" style="text-align: center;">&#x20B9  <%= order.payment.amount %></td>
                    <td class="align-middle" style="text-align: center;"><%= moment(order.createdAt).fromNow() %></td>
                    <td class="align-middle" style="text-align: center;">
                      <a href="/user/orderDetailed?id=<%= order._id %>" style="text-decoration: none !important;">
                        <% if (order.status === 'Processing') { %>
                          <p > <span class="btn py-2 px-3 btn-warning rounded-pill orderStatusButton" style="font-family: 'Michroma', sans-serif;" ><%= order.status %></span></p>
                      <% } else if (order.status === 'Shipped') { %>
                          <p > <span class="btn py-2 px-3 btn-success rounded-pill orderStatusButton" style="font-family: 'Michroma', sans-serif;" ><%= order.status %></span></p>
                      <% } else if (order.status === 'Out of Delivery') { %>
                          <p > <span class="btn py-2 px-3 btn-success rounded-pill orderStatusButton" style="font-family: 'Michroma', sans-serif;" ><%= order.status %></span></p>
                      <% } else if (order.status === 'Delivered') { %>
                        <p > <span class="btn py-2 px-3 btn-light rounded-pill orderStatusButton" style="font-family: 'Michroma', sans-serif;" ><%= order.status %></span></p>
                    <% } else { %>
                          <p><span  class="btn py-2 px-3 btn-danger rounded-pill  orderStatusButton"  style="font-family: 'Michroma', sans-serif;" ><%= order.status %></span></p>
                      <% } %>
                          </a>
                </td>
                </tr>
                <%i=(i+1)%>
                <% }); %>
            </tbody>
          </table>
        </div>
    </div><%} else {%>
      <div class="text-center text-dark mt-4" style=" font-family: 'Michroma', sans-serif;">
        <h3>No Orders!</h3>
    </div>
    <%}%>
     <div class="footerA">
            <p>&copy; 2023 Rare Kicks. All rights reserved.</p>
    </div>
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script>
      jQuery(document).ready(function($) {
          $('#ordersTable').DataTable();
      });
      const orderStatusButton = document.querySelectorAll('.orderStatusButton');

        function removeClassOnSmallScreen() {
            if (window.innerWidth <= 767) {
                orderStatusButton.forEach(button=>{
                  button.classList.remove('btn');
                  button.classList.add('link','link-light');
                })
            } else {
                orderStatusButton.forEach(button=>{
                  if (!button.classList.contains('btn')) {
                    button.classList.add('btn');
                    button.classList.remove('link','link-light');
                }
                })
            }
        }
        removeClassOnSmallScreen();
        window.addEventListener('resize', removeClassOnSmallScreen);
    </script>
  
    <%- include('../layout/footer')-%>
    <%- include('../layout/footerHTML')-%>

