<%- include('../layout/headerHTML')-%>

</head>
<body>
    <div class="container">
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    </div>

    <script>
        var orderId ="<%=orderId%>"// Injecting orderId from the server
        document.addEventListener('DOMContentLoaded',function(e){
            var options = {
                "key": "<%=keyId%>", 
                "amount": "<%=order.payment.amount%>",
                "currency": "INR",
                "name": "Rare Kicks",
                "description": "Payment for the order of <%=order.products.items.length%> items. Order ID : <%=order._id%>",
                "image": "../../public/images/kn (1).png",
                "order_id": "<%=orderId%>",
                "handler": function (response) {
                        // Success

                        // Send data to the backend
                        var paymentData = {
                            paymentId: response.razorpay_payment_id,
                            orderId: response.razorpay_order_id,
                            signature: response.razorpay_signature,
                            razorpayorder:"<%=razorpayorder%>"
                        };

                        $.ajax({
                            url: "/user/confirmOrderOnline/", // Replace with your actual backend endpoint
                            method: "POST",
                            contentType: "application/json",
                            data: JSON.stringify(paymentData),
                            success: function (backendResponse) {
                                if(backendResponse){
                                    
                                }else {
                                    alert("fail")
                                }
                            },
                            error: function (error) {
                                // Handle error
                                console.error("Error sending data to the backend:", error);
                            }
                        });
                    },

                "prefill": {
                    "name": "<%= order.address.name%>",
                    "email": "<%= order.address.email %>",
                    "contact": "<%= order.address.contact %>"
                },
               
                "theme": {
                    "color": "green" 
                }
            };

            var rzp1 = new Razorpay(options);

            rzp1.on('payment.failed', function (response){
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
            });


            rzp1.open();
            e.preventDefault();
        })
    </script>
</body>
</html>
