<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/homePage.css">
<link rel="stylesheet" type="text/css" href="../../public/css/profile.css">

</head>
<body>
    <%- include('../layout/header') %>
    <div class="container mt-5"><h3 class="mb-4 text-center mb-3" style="font-family: 'Michroma', sans-serif;">Hello <%=user.name%>!</h3></div>
    <div class="container">
        <div class="m-4" style="font-family: 'Michroma', sans-serif; border: 1px solid rgb(196, 196, 196); border-radius: 20px;padding: 10px; box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);">
            <div class="row mt-4 ">
                <div class="col-12 col-sm-3 d-flex justify-content-center align-items-center">
                    <div style=" padding: 30px; ">
                        <i class="bi bi-person-check display-1"></i>
                    </div>
                </div>
                <div class="mt-2 col-12 col-sm-9 d-flex" style="flex-direction: column; row-gap: 20px; font-family: 'Michroma', sans-serif;">
                    <div class="d-flex" style="align-items: center; flex-wrap: wrap;">
                        <span class="btn btn-dark rounded" style="flex: 0 0 50px;"><h6><i class="fa-solid fa-signature"></i> </h6></span>
                        <span style="flex: 1; text-align: start; margin-left: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%=user.name%></span>
                    </div>
                    <div class="d-flex" style="align-items: center; flex-wrap: wrap;">
                        <span class="btn btn-dark rounded" style="flex: 0 0 50px;"><h6><i class="fa-regular fa-envelope"></i> </h6></span>
                        <span style="flex: 1; text-align: start; margin-left: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%=user.email%></span>
                    </div>
                    <div class="d-flex" style="align-items: center; flex-wrap: wrap;">
                        <span class="btn btn-dark rounded" style="flex: 0 0 50px;"><h6><i class="fa-solid fa-phone"></i></h6></span>
                        <span style="flex: 1; text-align: start; margin-left: 20px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><%=user.contact%></span>
                    </div>
                </div>
            </div>
            
            <div class="d-flex" style="justify-content: end;">
            <a href="/user/editProfile" style="text-decoration: none; color: white;"><button class="btn btn-dark pt-2 pb-2 ps-1 pe-1 mt-3 me-2"><i class="fa-solid fa-pencil  px-2"></i></button></a>
            <a href="/user/changePassword" style="text-decoration: none; color: white;"><button class="btn btn-dark pt-2 pb-2 ps-1 pe-1 mt-3">Change Password</button></div></a>
        </div>
    </div>

    <%if(user.referralCode){%>
        <h3 class="mt-2 container text-start mb-3 text-dark" style="font-family: 'Michroma', sans-serif;"><i class=" ms-2 fas fa-tag me-2"></i> Offer  Zone. !</h3>
       <div class="container d-flex justify-content-center">
        <div class="referral-container card" style="padding: 20px !important;">
            <img src="../../public/images/designstripe-twitter-post.png" alt="Image" style="border-radius: 30px; margin-bottom: 20px; width: 100%;">
            <%if(user.referralsApplied<=3){%>
                <span class="text-start ms-2 mb-1">
                    <i class="fa-solid text-start fa-gift fa-shake ms-2 fs-4" style="color: #000000;"></i> <b class="text-start ms-2">Referral Link ( <%=3-user.referralsApplied%> claims left )</b>
                </span>
                <%}else {%>
                    <div class="text-danger text-center mt-2 mb-3">
                        <b>Your referrals are over. Thank you for participating!</b>
                    </div>
                <%}%>
                <div class="container">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="referralLink" value="https://rarekicks.shop/user/register?ref=<%=user.referralCode%>" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="copyButton" onclick="copyReferralLink()"><i class="bi bi-link-45deg"></i></button>
                        </div>
                    </div>
                </div>
                <div class="text-end mt-2 mb-3 me-2">
                    <b>Total Earnings : </b> &#x20B9; <%=((user.referralsApplied)*500)%>
                </div>
          </div>
       </div>
    <%}%>

    <div class="container mb-2" style="font-family: 'Michroma', sans-serif;">
        <h3 class="mb-4 mt-2 btn btn-dark rounded mb-3" style="font-family: 'Michroma', sans-serif;"><i class="fa-solid bi-wallet2 me-2" style="font-size: 20px;"></i>Wallet</h3>
        <div class="profile-container">
            <div class="profile-card">
                <div class="headerC">
                    <div class="header-summary">
                        <div class="summary-text text-center mt-3">
                            Wallet Balance
                        </div>
                        <div class="summary-balance text-center">
                            &#8377; <%=user.wallet.balance||0%>
                        </div>
                    </div>
                </div>
    
                <div class="content">
                    <div class="card">
                        <div class="upper-row">
                            <div class="card-item">
                                <span>Total</span>
                                <span><%=user.wallet.total||0%> <span class="dollar">&#8377;</span></span>
                            </div>
                            <div class="card-item">
                                <span>Used</span>
                                <span><%=user.wallet.used||0%> <span class="dollar">&#8377;</span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>
    <div class="container mt-2 d-flex" style="align-items: center;" id="addresses">
        <h3 class="mb-4 mt-2 btn btn-dark rounded mb-3" style="font-family: 'Michroma', sans-serif;"><i class="fa-solid fa-location-dot me-2" style="font-size: 20px;"></i>Address !</h3>
        <%if(addresses?.length<=3){%>
            <a href="/user/addAddress/" style="text-decoration: none; color: black;">
                <h3 class="ms-3 btn btn-dark rounded mb-3" style="font-family: 'Michroma', sans-serif;">+</h3></a>
        <%}%>
    </div>

        <div class="container containerForm mb-5 d-flex" style="justify-content: space-around; align-items: stretch; flex-wrap: wrap; row-gap: 10px; column-gap: 10px;">
            <%var length=addresses?.length%>
            <% if(length===0){%>
                <div class="container mt-5" style="border: 1px solid black; border-radius: 20px;"><h4 class="mb-4 text-center mt-4" style="font-family: 'Michroma', sans-serif;">No addresses have been added yet. Please add an address.</h4></div>
            <%} %>
            <% addresses?.forEach((address, index) => { %>
            <%var _id=address?._id%>
              <form class="addressForm card" style="padding: 30px !important; width: 400px !important; gap: 0px !important;" >
                  <label class="form-check-label" id="flexSwitchCheck<%= index %>" for="flexSwitchCheck<%= index %>" style="font-family: 'Michroma', sans-serif;">Current</label>
                  <div class="form-check form-switch">
                      <% if (length>1){%>
                        <%if(address.default){%>
                            <input class="form-check-input currentSwitch" type="checkbox" role="switch" id="<%=_id%>" checked disabled>
                            <%}else {%>
                                <input class="form-check-input currentSwitch" type="checkbox" role="switch" id="<%=_id%>" >
                                <%}%>
                        <%}%>
                </div>
                <table>
                    <tr>
                        <td class="ps-2" style="word-wrap: break-word; text-overflow: ellipsis;">
                            <b class="capitalize"><%= address.name %><br></b>
                            <%= address.address %><br>
                            <%= address.landmark %><br>
                            <%= address.city %>, <%= address.state %>, <%= address.pinCode %><br>
                            <%= address.country %><br>
                            Contact: <b><%= address.contact %></b>
                        </td>
                    </tr>
                </table>
                <div class="d-flex justify-content-end mt-auto">
                    <a href="/user/editAddressShow?id=<%=_id%>" class="btn rounded-pill mt-4 ms-2" style="background-color: #383838; color: white;"><i class="fa-solid fa-pencil "></i></a>
                <a id="<%=_id%>" class="removeAddress btn rounded-pill mt-4 ms-3" style="background-color: #8400ff; color: white;"><i class="fa-regular fa-trash-can "></i></a>
                </div>
              </form>
            <% }) %>
          </div>
      

<script src="../../public/jsFiles/profile.js"></script>
<%- include('../layout/footer')-%>
<%- include('../layout/footerHTML')-%>