<%- include('../layout/headerHTML')-%>
<link rel="stylesheet" type="text/css" href="../../public/css/userRegister.css">

</head>
<body>
    
<div class="containerfluid d-flex mainContainer"> 
<div class="mainCont">
  <form class="row g-3 needs-validation" action="/user/verifyOtp/" method="post" enctype="application/form-data">
    <h3 class="mb-4 text-center mb-3" style="font-family: 'Michroma', sans-serif;">Verify !</h3>
    <div class="col-md-12">
        <label class="form-label">Email</label>
        <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend"><%= email ? email : ' ' %></span>
            <input id="emailInput" type="hidden" name="email" value="<%= email ? email : ' ' %>">
        </div>
    </div>
    <div class="col-md-12">
        <label class="form-label">Otp</label>
        <div class="text d-flex" style="font-family: 'Michroma', sans-serif; align-items: center; justify-content: center;">
          <h6 class="text ">Expires In : </h6>
          <div id="timer" class="display-8 text-danger mb-1" style="width: 30px;">0</div>
        </div>
        <a class="btn btn-dark mb-2 rounded-pill" id="startCountdownButton2">Resent Otp</a>
        <div class="input-group">
            <span class="input-group-text" id="inputGroupPrepend"><i class="bi bi-key"></i></span>
            <input type="password" class="form-control" name="otp" required>
            <input type="hidden" name="counter" id="counterInput">
        </div>
    </div>
    <div class="save">
        <div class="d-inline">
            <button class="btn btn-dark rounded-pill mt-2" id="submit" type="submit">Verify</button>
        </div>
    </div>
</form>
</div>
<%- include('../layout/alert')-%>
</div>
<script type="module" src="../../public/jsFiles/startCountdownForOtpLogIn.js"></script>
<script type="module" src="../../public/jsFiles/verifyOtpLogIn.js"></script>
<%- include('../layout/footerHTML')-%>