<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sales Overview</title>
  <!-- Add any additional styling here -->
  <style>
    body{
      padding: 100px;
      border: 1px solid rgb(100, 99, 99) !important;
      border-radius: 5px;
    }
    table {
      /* border-collapse: collapse; */
      width: 100%;
    }

    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <img src="data:image/jpeg;base64,{<%=base64str%>}" alt="Company Logo" width="100" height="100" style="border-radius: 10px;">
  <h3>Rare Kick's</h3>
  <h2 style="text-align: center;"><u><b>Sales Report</b></u></h2>

  <!-- Overall sales summary table -->
  <h3>Overall Sales Summary</h3>
  <table style="border: 1px solid rgb(56, 56, 56) !important; ">
    <thead>
      <tr>
        <th style="background-color: #0c0c4b;  color: white;">Date</th>
        <th style="background-color: #0c0c4b;  color: white;">Type</th>
        <th style="background-color: #0c0c4b;  color: white;">Total Orders</th>
        <th style="background-color: #0c0c4b;  color: white;">Successful Orders</th>
        <th style="background-color: #0c0c4b;  color: white;">Total Sales</th>
        <th style="background-color: #0c0c4b;  color: white;">Total Revenue</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= doc.date %></td>
        <td><%= doc.type %></td>
        <td><%= doc.totalOrders %></td>
        <td><%= doc.successfulOrders %></td>
        <td><%= doc.totalSales %></td>
        <td><%= doc.totalRevenue.toFixed(2) %></td>
      </tr>
    </tbody>
  </table>

  <!-- Product details table -->
  <h3>Product Details</h3>
  <table style="border: 1px solid rgb(0, 0, 0) !important; ">
    <thead>
      <tr>
        <th style="background-color: #0c0c4b;  color: white;">Product ID</th>
        <th style="background-color: #0c0c4b;  color: white;">Product Sales</th>
        <th style="background-color: #0c0c4b;  color: white;">Product Count</th>
        <th style="background-color: #0c0c4b;  color: white;">Product Revenue</th>
      </tr>
    </thead>
    <tbody>
      <% doc.products.forEach((product) => { %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.sales %></td>
          <td><%= product.count %></td>
          <td><%= product.revenue.toFixed(2)  %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <!-- Category details table -->
  <h3>Category Details</h3>
  <table style="border: 1px solid rgb(0, 0, 0) !important; ">
    <thead>
      <tr>
        <th style="background-color: #0c0c4b;  color: white;">Category ID</th>
        <th style="background-color: #0c0c4b;  color: white;">Category Name</th>
        <th style="background-color: #0c0c4b;  color: white;">Category Sales</th>
        <th style="background-color: #0c0c4b;  color: white;">Category Count</th>
      </tr>
    </thead>
    <tbody>
      <% doc.categories.forEach((category) => { %>
        <tr>
          <td><%= category.id %></td>
          <td><%= category.category %></td>
          <td><%= category.sales %></td>
          <td><%= category.count %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <!-- Payment methods table -->
  <h3>Payment Methods</h3>
  <table style="border: 1px solid rgb(0, 0, 0) !important; ">
    <thead>
      <tr>
        <th style="background-color: #0c0c4b;  color: white;">Payment Method</th>
        <th style="background-color: #0c0c4b;  color: white;">Count</th>
      </tr>
    </thead>
    <tbody>
      <% doc.paymentMethods.forEach((method) => { %>
        <tr>
          <td><%= method.method %></td>
          <td><%= method.count %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>
</html>
